*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
     height: 100vh;
     display: flex;
     justify-content: center;
}
.container{
     background-color: #dcdcdc;
     max-width: 500px;
     width: 100%;
     height: 80vh;
     box-shadow: 10px 10px 20px;
     border-radius: 15px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.container > input{
     line-height: 25px;
     border-radius: 5px;
}
.container label,
.container h3{
     margin-top: 15px;
}

.client-type{
     margin-top: 15px;
     gap: 10px;
}
.client-type label{
     cursor: pointer;
}
.client-type input{
     margin-left: 15px;
     cursor: pointer;
}

.btn-calculate{
     height: 45px;
     cursor: pointer;
     border: 1px solid black;
     border-radius: 10px;
     max-width: 300px;
     width: 100%;
     margin-inline: auto;
     margin-top: 20px;
     font-size: 1.2rem;
}