*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #00000085;
}
button{
    background-color: #333;
    font-size: 1rem;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    border: 2px solid #000000;
    cursor: pointer;
    width: 120px;
}